<!DOCTYPE html>
<html lang="fr">

<head>   
    <title>{% block title %}show{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/css/show-hint.css">
    <link rel="stylesheet" href="/static/css/monokai.css">
    <link rel="stylesheet" href="/static/css/dialog.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/prism.css">

    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/prism.js"></script>


    <script type="text/javascript" src="/static/js/codemirror.js"></script>


<script type="text/javascript" src="/static/js/search.js"></script>
<script type="text/javascript" src="/static/js/searchcursor.js"></script>
<script type="text/javascript" src="https://codemirror.net/addon/search/jump-to-line.js"></script>

<script type="text/javascript" src="/static/js/formatting.js"></script>

<script type="text/javascript" src="/static/js/show-hint.js"></script>
<script type="text/javascript" src="/static/js/xml-hint.js"></script>
<script type="text/javascript" src="/static/js/xml.min.js"></script>

<script type="text/javascript" src="/static/js/dialog.js"></script>

<script src="/static/js/vkbeautify.js"></script>

    <!-- {% load static %}  -->
</head>




<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Order SFCC To Cegid</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/order/create">Import a file<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/order/history">History</a>
    </div>
  </div>
</nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>