{% extends "base.html" %}
{% block title %}Create{% endblock %}



{% block content %}
<div class="container">
  <div class="row">
    <h1>Upload your xml file</h1>

    {% if sauvegarde %}
      <p>Got it !!!</p>
    {% endif %}
   </div>

  <div class="row">
    <p>
      <form method="post" enctype="multipart/form-data" action=".">
        {% csrf_token %}
          <ul class="errorlist"><li>This field is required.</li></ul>
          <p><label for="id_file">File:</label> <input id="id_file" name="file" required="" type="file"></p>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </p>
    </div>
  </div>

{% endblock %}