{% extends "base.html" %}
{% block title %}Show{% endblock %}




{% block content %}
<h1>History</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Filename</th>
      <th>count</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>

{% for item in data%}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.file }}</td>
      <td>{{ item.count_order }}</td>
      <td>{{ item.date }}</td>
      <td><a href="/order/show/{{ item.id }}">View</a></td>
    </tr>
{% endfor %}

  </tbody>
</table>

{% endblock %}