{% extends "base.html" %}
{% block title %}Show{% endblock %}




{% block content %}
<h1>Validation</h1>
<p>{{ date }}</p>


<div class="container-fluid">

        <nav class="nav nav-tabs" id="myTab" role="tablist">
        {% for item in data.orders %}
        {% if forloop.counter0 == 0 %}
            <a class="nav-item nav-link active"  data-toggle="tab" href="#{{ forloop.counter0 }}" role="tab" aria-selected="true">{{ item }}</a>
        {% else %}
            <a class="nav-item nav-link"  data-toggle="tab" href="#{{ forloop.counter0 }}" role="tab" aria-selected="false">{{ item }}</a>
        {% endif %}
        {% endfor %}
        </nav>


        <div class="tab-content" id="nav-tabContent">
        {% for item in data.soaps %}
        {% if forloop.counter0 == 0 %}

            <div class="tab-pane fade show active" id="{{ forloop.counter0 }}" role="tabpanel">
                <form method="post" enctype="multipart/form-data" action="/order/send/">
                {% csrf_token %}

                    <hr/>
                    <div class="form-group">
                        <textarea id="code#{{ forloop.counter0 }}" style="resize: vertical" name="soap">{{item}}</textarea>
                    </div>

                    <div class="form-group">
                        <p><label for="username">Username</label> <input id="username" class="form-control" type="text" name="username" maxlength="100" /></p>
                        <p><label for="password">Password</label> <input id="password" type="password" class="form-control" name="password" maxlength="100" /></p>
                    </div>
                    <button type="submit" class="btn btn-dark" >Send to Cegid</button>
                </form>
                <hr/>
            </div>


        {% else %}
            <div class="tab-pane fade" id="{{ forloop.counter0 }}"" role="tabpanel">
                <form method="post" enctype="multipart/form-data" action="/order/send/">
                {% csrf_token %}
                    <hr/>          
                    <div class="form-group">
                        <textarea id="code#{{ forloop.counter0 }}" class="form-control" name="soap">{{item}}</textarea>
                    </div>

                    <div class="form-group">
                        <p><label for="username">Username</label> <input id="username" class="form-control" type="text" name="username" maxlength="100" /></p>
                        <p><label for="password">Password</label> <input id="password" type="password" class="form-control" name="password" maxlength="100" /></p>
                    </div>

                    <button type="submit" class="btn btn-dark" >Send to Cegid</button>
                </form>
            <hr/>
            </div>
            {% endif %}
            {% endfor %}
        </div>
</div>
    


<script type="text/javascript">


document.getElementById("code#0").value = vkbeautify.xml(document.getElementById("code#0").value);

var editor = CodeMirror.fromTextArea(document.getElementById("code#0"), {
    mode: "xml",
    theme: 'monokai',
    lineNumbers: true
});

editor.refresh();


$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    //var target = $(e.target).attr("id") // activated tab
    document.getElementById("code"+e.currentTarget.hash).value = vkbeautify.xml(document.getElementById("code"+e.currentTarget.hash).value);
    editor.toTextArea();
    editor = CodeMirror.fromTextArea(document.getElementById("code"+e.currentTarget.hash), {
        mode: "xml",
        theme: 'monokai',
        lineNumbers: true
    });     
    editor.refresh();
});
</script>


{% endblock %}